<div class="index-callout">
  <h2>Coin Gazer keeps watch over your digital currency.</h2>
  <div class="index-buttons">
    <%= link_to '<i class="material-icons right">account_box</i>Sign Up'.html_safe, new_user_registration_path, class: "waves-effect waves-light btn-large light-green darken-3" %>
    <%= link_to '<i class="material-icons right">arrow_forward</i>Sign In'.html_safe, new_user_session_path, class: "waves-effect waves-light btn-large" %>
  </div>
</div>
