<h2>Coin Gazer keeps watch over Bitcoin, Ethereum, Litecoin, and more.</h2>

<%= link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn" %>

<%= link_to "Sign In", new_user_session_path, class: "waves-effect waves-light btn" %>
