/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("blue-grey", "darken-1") !default;

@import "materialize";

td {
  text-align: center;
}

th {
  text-align: center;
  vertical-align: top;
}

h2 {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  color: #ef6c00;
}

.index-callout {
  margin-top: 10rem;
}

.index-buttons {
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.brand-logo {
  margin-left: 2rem;
}

.splash {
    background-image: image-url("buildings.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #37474f;
}

.bitcoin-chart {
  margin-top: 3rem;
}

.form-bottom {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
